.smartTable {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.MainTable {
  border-collapse: collapse;
  border-spacing: 0;
}

.fixed {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.MainTable.fixed .hidden {
  visibility: hidden;
  border: none;
  /*background-color: transparent;*/
}

.MainTable th,
.MainTable td {
  border: solid 1px;
  text-align: center;
  padding: 0.5rem;
}

.MainTable td.userName {
  text-align: left;
  white-space: nowrap;
}

.fixed .rowNo {
  background-color: gray;
}

.self {
  min-width: 2.5rem;
  max-width: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  padding: 0;
  /*
  background: linear-gradient(
    170deg,
    rgb(245, 245, 255) 0%,
    rgb(235, 240, 245) 55%,
    rgb(205, 215, 225) 100%
  );*/
}
