.smartTable {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.MainTable {
  border-collapse: collapse;
  border-spacing: 0;
}

.fixed {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.MainTable.fixed .hidden {
  visibility: hidden;
  border: none;
}

.MainTable th,
.MainTable td {
  border: solid 1px;
  text-align: center;
  padding: 0.5rem;
}

.MainTable td.userName {
  text-align: left;
  white-space: nowrap;
  box-shadow: grey 2px 2px 2px;
}

.MainTable td.self {
  min-width: 2.5rem;
  max-width: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  padding: 0;
  /*
  background: linear-gradient(
    170deg,
    rgb(245, 245, 255) 0%,
    rgb(235, 240, 245) 55%,
    rgb(205, 215, 225) 100%
  );*/
}

.medal {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin: auto auto;
  vertical-align: middle;
  font-family: "GFS Didot", serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crown {
  background: url(../public/crown3_t.gif) no-repeat center center;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.gold {
  background: linear-gradient(
    170deg,
    rgb(252, 220, 107) 0%,
    rgb(255, 254, 182) 100%
  );
  box-shadow: 1px 1px 1px rgb(255, 180, 68);
  color: rgb(255, 254, 182);
  text-shadow: 1px 1px 1px rgb(255, 180, 68);
}

.silver {
  background: linear-gradient(
    170deg,
    rgb(220, 220, 220) 0%,
    rgb(253, 245, 237) 100%
  );
  box-shadow: 1px 1px 1px rgb(210, 205, 200);
  color: rgb(253, 245, 237);
  text-shadow: 1px 1px 1px rgb(210, 205, 200);
}

.bronze {
  background: linear-gradient(
    170deg,
    rgb(237, 173, 102) 0%,
    rgb(255, 219, 44) 100%
  );
  box-shadow: 1px 1px 1px rgb(237, 173, 102);
  color: rgb(255, 219, 44);
  text-shadow: 1px 1px 1px rgb(237, 173, 102);
}

.wood {
  background-image: url("../public/pine_1.jpg");
  background-size: cover;
  box-shadow: 1px 1px 1px rgb(228, 108, 31);
  color: rgb(247, 183, 112);
  text-shadow: 1px 1px 1px rgb(228, 108, 31);
}
